<div class="container treatment dermafrac">

  <div class="treatment__header">
    <h2 class="treatment__group">Skin Care</h2>
    <h1 class="treatment__title">Dermafrac Micro Needling</h1>
  </div>


  <div class="double-separator">
    <hr class="double-separator__thick-line"/>
    <hr class="double-separator__thin-line"/>
    <hr class="double-separator__vertical-line"/>
  </div>

  <br/>

  <div class="two-column">
    <!-- BEGIN left column -->
    <div class="two-column__left-column">
      <div style="padding: 15px">

        <p class="text--bold text--md text--justify-gt-xs">
          Dermafrac Micro needling penetrates serums into the skin with no pain or downtime.
        </p>
        <br/>
        <p class="text--justify-gt-xs">
          Incorporated in this treatment is microdermabrasion and a LED light therapy. This helps with scaring,
          dehydration, superficial lines and wrinkles, pigmentation, sun spots, uneven skin tone, rejuvenation of the
          skin, congestion in the skin and ageing of the skin.
        </p>

        <hr/>

        <div class="inlinefix">
          <div class="image image--height-200 image--width-half"
               style="background-image: url('https://via.placeholder.com/1000x1000')">
          </div>
          <div class="image image--height-200 image--width-half"
               style="background-image: url('https://via.placeholder.com/1000x1000')">
          </div>
        </div>

        <hr/>

        <h4 class="text--md">Our serums selection:</h4>
        <ul>
          <li class="">Peptite super cocktail for rejuviation</li>
          <li class="">Lactic and Slicylic acids to cleanse congested and oiley pores to clarify your skin</li>
          <li class="">Hyaluronic acid to hydrate</li>
          <li class="">Kojic acid to even out and lighten pigmentation variations</li>
          <li class="">Vitamin C, which slows the rate of free-radical damage to collagen - the cause of dryness and
            fine lines or wrinkles in the skin
          </li>
          <li class="">Growth factors provided in a rich blend of moisturisers, peptides and vitamins for a younger
            looking skin
          </li>
        </ul>

        <hr/>

        <p class="text--justify-gt-xs">
          We have package deals and finance available. Call and book a
          <span class="text--clear text--bold">FREE Cosmetic Consultation</span>.
        </p>

        <button class="button request-consultation-button elem--right">Request a Consultation</button>

        <div class="clearfix"></div>

        <br/>

      </div>
    </div>
    <!-- END left column-->

    <div class="two-column__vertical-line"></div>

    <!-- BEGIN right column -->
    <div class="two-column__right-column">
      <div style="padding: 15px">

        <div class="concerns">
          <h4 class="text--md">Micro needling is commonly used to treat:</h4>
          <ul>
            <li class="">Fine lines and wrinkles</li>
            <li class="">Ageing skin</li>
            <li class="">Acne scarring</li>
            <li class="">Brown spots and pigmentation</li>
            <li class="">Open pores and congested skin</li>
            <li class="">Dry or patchy skin</li>
            <li class="">Large pores</li>
          </ul>
        </div>

        <br/>

        <div class="image image--height-400 image--width-full"
             style="background-image: url('https://via.placeholder.com/1000x1000')">
        </div>

      </div>
    </div>
    <!-- END right column -->

    <div class="clearfix"></div>
  </div>

  <div class="double-separator">
    <hr class="double-separator__vertical-line double-separator__vertical-line--reversed"/>
    <hr class="double-separator__thin-line double-separator__thin-line--reversed"/>
  </div>

</div>
