<div class="container treatment peels">

  <div class="treatment__header">
    <h2 class="treatment__group">Skin Care</h2>
    <h1 class="treatment__title">Superficial Peels</h1>
  </div>


  <div class="double-separator">
    <hr class="double-separator__thick-line"/>
    <hr class="double-separator__thin-line"/>
    <hr class="double-separator__vertical-line"/>
  </div>

  <br/>

  <div class="two-column">
    <!-- BEGIN left column -->
    <div class="two-column__left-column">
      <div style="padding: 15px">

        <p class="text--bold text--md text--justify-gt-xs">
          Superficial Peels are a chemical exfoliation that removes the uppermost layer of dead skin cells from the
          face, chest, neck or hands.
        </p>
        <br/>
        <p class="text--justify-gt-xs">
          It is a non-invasive cosmetic procedure that increases cellular turnover, therefore
          improving hydration, skin texture, tone, pigmentation, reducing pore six and fine lines. A series of
          treatments may be recommended to achieve optimal results as individual response will vary according to skin
          types.
          <br/>
          <br/>
          We are using Aspect Dr Peels – Aspect Dr is a Medical Clinic ONLY cosmeceutical skincare range. The active
          ingredients are at the highest concentrations.
        </p>

        <hr/>

        <p class="text--justify-gt-xs">
          Book for a <span class="text--clear text--bold">FREE Cosmetic Consultation</span> with us today to work out what is the best treatment for your skin type.
        </p>

        <button class="button request-consultation-button elem--right">Request a Consultation</button>

        <div class="clearfix"></div>

        <br/>

        <div class="inlinefix">
          <div class="image image--height-200 image--width-half"
               style="background-image: url('https://via.placeholder.com/1000x1000')">
          </div>
          <div class="image image--height-200 image--width-half"
               style="background-image: url('https://via.placeholder.com/1000x1000')">
          </div>
        </div>

      </div>
    </div>
    <!-- END left column-->

    <div class="two-column__vertical-line"></div>

    <!-- BEGIN right column -->
    <div class="two-column__right-column">
      <div style="padding: 15px">

        <div class="concerns">
          <h4 class="text--md">Are superficial peels the right choice for you?</h4>
          <ul>
            <li class="">Improving pigment variations</li>
            <li class="">Lifting acne scars</li>
            <li class="">Reducing sun damage</li>
            <li class="">Removing skin wrinkles</li>
          </ul>
        </div>

        <br/>

        <div class="image image--height-400 image--width-full"
             style="background-image: url('https://via.placeholder.com/1000x1000')">
        </div>

      </div>
    </div>
    <!-- END right column -->

    <div class="clearfix"></div>
  </div>

  <div class="double-separator">
    <hr class="double-separator__vertical-line double-separator__vertical-line--reversed"/>
    <hr class="double-separator__thin-line double-separator__thin-line--reversed"/>
  </div>

</div>
