<div class="container treatment products">

  <div class="treatment__header">
    <h2 class="treatment__group">Skin Care</h2>
    <h1 class="treatment__title">Products</h1>
  </div>


  <div class="double-separator">
    <hr class="double-separator__thick-line"/>
    <hr class="double-separator__thin-line"/>
  </div>

  <br/>

  <div class="product product--left-img">
    <div class="product__image"
         style="background-image: url('<%= image_url 'treatments/skincare/AspectDrLogo.png' %>')">
    </div>

    <div class="product__details">
      <h3>Aspect Dr</h3>
      <p>
        Aspect Dr is a Doctor only cosmeceutical skincare range only available at Medical Clinics. The active
        ingredients are at the highest level of concentration for the best effect.
      </p>
    </div>

    <div class="clearfix"></div>
  </div>

  <br/>

  <div class="product product--left-img">
    <div class="product__image"
         style="background-image: url('<%= image_url 'treatments/skincare/TeenAspectLogo.jpg' %>')">
    </div>

    <div class="product__details">
      <h3>Teen Aspect</h3>
      <p>
        Teen Aspect is a cosmeceutical Skincare Range specifically for Teenagers with Acne skin that will not irritate,
        dry, clog or cause trauma.
      </p>
    </div>

    <div class="clearfix"></div>
  </div>

  <br/>

  <div class="product product--left-img">
    <div class="product__image"
         style="background-image: url('<%= image_url 'treatments/skincare/SkinMedicaLogo.jpg' %>')">
    </div>

    <div class="product__details">
      <h3>SkinMedica</h3>
      <p>
        SkinMedica is ‘The Rolls Royce’ of skin Management. A Doctor only cosmeceutical skin care range only available
        at Medical clinics. Within the Anti-aging market SkinMedica is the leader in growth factor and skin brightening
        technology - It has a blend of tissue nutrient solution TNS containing 110 Growth Factors. Clinical studies and
        white papers including the Dermatology Journal, provide supporting evidence to slowing down the aging process,
        repairing and accelerating wound healing. It is also a very luxurious range.
      </p>
    </div>

    <div class="clearfix"></div>
  </div>

</div>
