<div class="container treatment laser-hair">

  <div class="treatment__header">
    <h2 class="treatment__group">Laser Treatments</h2>
    <h1 class="treatment__title">Hair</h1>
  </div>


  <div class="double-separator">
    <hr class="double-separator__thick-line"/>
    <hr class="double-separator__thin-line"/>
    <hr class="double-separator__vertical-line"/>
  </div>

  <div class="two-column">
    <!-- BEGIN left column -->
    <div class="two-column__left-column">
      <div style="padding: 15px">

        <h4 class="text--gold text--cursive">
          Good-bye Razors and Wax – hello smooth, touchable skin
        </h4>
        <br/>
        <p class="text--bold text--md text--justify-gt-xs">
          Avoid the time, money and hassle of a lifetime spent on shaving or waxing. With our high-tech Cutera® hair
          removal, you can achieve silkier, smoother, beautifully bare skin in a few easy treatments and feel more
          confident about your body
        </p>

        <br/>

        <h4 class="text--gold text--cursive text--right">
          Hair-Free and Carefree
        </h4>
        <p class="text--justify-gt-xs">
          Developed by the pioneers of laser hair removal technology, Cutera® hair removal provides maximum comfort and
          efficacy in a few easy treatments. Regardless of skin colour (fair to tanned) or hair type (fine to coarse),
          both women and men can enjoy long-lasting hair removal in minimal time.
        </p>
        <br/>
        <p class="text--justify-gt-xs">
          With Cutera® hair removal, you’ll enjoy a fast, comfortable procedure performed in as little as 30 minutes.
          This exceptional technology can treat your whole body including underarms, legs, bikini area, arms, chest and
          back.
        </p>

        <br/>

        <h4 class="text--gold text--cursive text--right">
          Remove unwanted hair, reveal beautiful, smooth skin
        </h4>
        <p class="text--justify-gt-xs">
          Because hair grows in phases, it’s necessary to repeat the treatments at periodic intervals in order to
          achieve maximum hair reduction. And with our hair removal, you'll enjoy maximum comfort with continuous
          cooling of the treatment area during each light pulse.
        </p>

        <br/>

        <h4 class="text--gold text--cursive text--right">
          Why wait for your next waxing session or deal with continuous shaving?
        </h4>
        <p class="text--justify-gt-xs">
          Skin on Forty Five delivers hair removal and gives you the silky, smooth skin that you’ve been dreaming of
          with
          results in as few as four to six treatments.
        </p>

      </div>
    </div>
    <!-- END left column-->

    <div class="two-column__vertical-line"></div>

    <!-- BEGIN right column -->
    <div class="two-column__right-column">
      <div style="padding: 15px">

        <!--<div class="concerns">
          <h4 class="text&#45;&#45;md">Hair lasering is suitable treatment for:</h4>
          <ul>
            <li class="">Some reason A</li>
            <li class="">Some reason B</li>
            <li class="">Some reason C</li>
            <li class="">Some reason D</li>
            <li class="">Some reason E</li>
          </ul>
        </div>

        <br/>-->

        <div id="hair-carousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel__indicators carousel-indicators">
            <li data-target="#hair-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#hair-carousel" data-slide-to="1"></li>
            <li data-target="#hair-carousel" data-slide-to="2"></li>
          </ol>
          <!-- Slides & wrappers -->
          <div class="carousel__inner carousel-inner">
            <!-- Varicose Veins -->
            <div class="item active">
              <div class="carousel__item carousel-item">
                <div class="carousel-item__img"
                     style="background-image: url('<%= image_url 'treatments/laser/hair/6 months post 3rd time Christine Lee MD.jpg' %>')">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel__item carousel-item">
                <div class="carousel-item__img"
                     style="background-image: url('<%= image_url 'treatments/laser/hair/6 months after 3rd time Jacqueline Calkin MD.jpg' %>')">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel__item carousel-item">
                <div class="carousel-item__img"
                     style="background-image: url('<%= image_url 'treatments/laser/hair/6 months post 3rd time Jacqueline Calkin MD.jpg' %>')">
                </div>
              </div>
            </div>
          </div>
          <!-- Navigation controls -->
          <a class="left carousel__control carousel-control" href="#hair-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel__control carousel-control" href="#hair-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="image image--height-400 image--width-full"
             style="background-image: url('https://via.placeholder.com/1000x1000')">
        </div>

        <div class="inlinefix">
          <div class="image image--height-200 image--width-half"
               style="background-image: url('https://via.placeholder.com/1000x1000')">
          </div>
          <div class="image image--height-200 image--width-half"
               style="background-image: url('https://via.placeholder.com/1000x1000')">
          </div>
        </div>

        <br/>
        <br/>

        <p class="text--justify-gt-xs">
          For more information and to book your consultation, call Skin on Forty Five on
          <span class="text--bold text--clear">07 7521 245</span>
        </p>

        <button class="button request-consultation-button">Request a Consultation</button>

        <br/>
        <br/>

      </div>
    </div>
    <!-- END right column -->

    <div class="clearfix"></div>
  </div>

</div>
