<div class="container treatment laser-pigment">

  <div class="treatment__header">
    <h2 class="treatment__group">Laser Treatments</h2>
    <h1 class="treatment__title">Pigment</h1>
  </div>


  <div class="double-separator">
    <hr class="double-separator__thick-line"/>
    <hr class="double-separator__thin-line"/>
    <hr class="double-separator__vertical-line"/>
  </div>

  <div class="two-column">
    <!-- BEGIN left column -->
    <div class="two-column__left-column">
      <div style="padding: 15px">

        <p class="text--bold text--md text--justify-gt-xs">
          Everyone ages differently. Some people develop fine lines and wrinkles; others show the wear of time through,
          age or brown spots surfacing on your face and body. If this is a concern for you, may be our Cutera® skin
          therapy can help erase the effects of ageing and banish the tell-tale signs of years of sun damage. We will
          customise the skin therapy treatment to address your specific skin concern.
        </p>

        <br/>

        <h4 class="text--gold text--cursive text--right">
          Restore your confidence, transform how you feel
        </h4>
        <p class="text--justify-gt-xs">
          Our cutting-edge vein skin treatment technology targets the primary signs of ageing including unwanted
          pigmentation. Following your skin therapy treatment, you may experience slight redness or darkening of the
          treatment area, which will resolve within a few hours or days, depending on your skin condition.
        </p>
        <br/>
        <p class="text--justify-gt-xs">
          With a little makeup and sunscreen, you can return to your normal daily activities immediately and feel
          confident about your skin again. In just two or more treatments, depending on the level of damage, you can
          expect to see a visible difference in the way your skin looks and feels. Best of all, almost any patient can
          enjoy this predictable, comfortable, non-invasive procedure, with little to no downtime.
        </p>

        <hr/>

        <p class="text--justify-gt-xs">
          For more information and to book your consultation, call Skin on Forty Five on
          <span class="text--bold text--clear">07 7521 245</span>
        </p>

        <button class="button request-consultation-button">Request a Consultation</button>

      </div>
    </div>
    <!-- END left column-->

    <div class="two-column__vertical-line"></div>

    <!-- BEGIN right column -->
    <div class="two-column__right-column">
      <div style="padding: 15px">

        <div id="hair-carousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel__indicators carousel-indicators">
            <li data-target="#hair-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#hair-carousel" data-slide-to="1"></li>
            <li data-target="#hair-carousel" data-slide-to="2"></li>
          </ol>
          <!-- Slides & wrappers -->
          <div class="carousel__inner carousel-inner">
            <!-- Varicose Veins -->
            <div class="item active">
              <div class="carousel__item carousel-item">
                <div class="carousel-item__img"
                     style="background-image: url('<%= image_url 'treatments/laser/pigment/xeo-lasergenesis-1-2_orig.jpg' %>')">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel__item carousel-item">
                <div class="carousel-item__img"
                     style="background-image: url('<%= image_url 'treatments/laser/pigment/xeo_laser-genesis_6.png' %>')">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel__item carousel-item">
                <div class="carousel-item__img"
                     style="background-image: url('<%= image_url 'treatments/laser/pigment/xeo_laser-genesis_7.png' %>')">
                </div>
              </div>
            </div>
          </div>
          <!-- Navigation controls -->
          <a class="left carousel__control carousel-control" href="#hair-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel__control carousel-control" href="#hair-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <br/>

        <img class="image image--height-auto image--width-full image--contain"
             src="<%= image_url 'treatments/laser/pigment/limelight6.png' %>">

        <br/>
        <br/>

      </div>
    </div>
    <!-- END right column -->

    <div class="clearfix"></div>
  </div>

</div>
