@import "modules/base";
@import "modules/text";

// Dimensions
$header__height--xl: 130px;
$header__height--lg: 130px;
$header__height--md: 100px;
$header__height--sm: 100px;

$header__logo-width--xl-lg: 200px;
$header__logo-width--md-sm-xs: 150px;

$header__nav-height: 70px;

.header {
  height: $header__height--xl;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
  @media (max-width: $size__width--lg - 1px) {
    height: $header__height--sm;
  }

  &__logo {
    float: left;
    position: absolute;
    left: calc(50% - #{$header__logo-width--xl-lg} / 2);
    margin: auto;
    height: $header__height--xl;
    overflow: hidden;
    @media (max-width: $size__width--lg - 1px) {
      height: $header__height--md;
      left: calc(50% - #{$header__logo-width--md-sm-xs} / 2);
    }

    & img {
      width: auto;
      height: $header__height--xl;
      background-color: #fff;
      @media (max-width: $size__width--lg - 1px) {
        height: $header__height--md;
      }
    }
  }

  &__mobile-menu-toggle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: $color__accent--navy;
    font-size: 15px;
    line-height: 15px;
    color: #fff;
    @media (min-width: $size__width--md) {
      display: none;
    }

    &:hover {
      transform: scale(1.1, 1.1);
    }

    & .bar {
      display: block;
      width: 15px;
      height: 2px;
      margin: 3px 0;
      background-color: #fff;
    }
  }

  &__nav-wrapper {
    width: 100%;
    // Drop down mobile menu wrapper
    @media (max-width: $size__width--md - 1px) {
      margin-top: $header__height--sm;
      margin-left: -15px;
      margin-right: -15px;
      width: calc(100% + 30px);
    }

    &.collapsed {
      // Collapsing the mobile menu
      @media (max-width: $size__width--md - 1px) {
        display: none;
      }
    }
  }

  &__nav {
    display: inline-block;
    position: relative;
    @media (max-width: $size__width--md - 1px) {
      display: block;
    }

    &--left {
      float: left;
      width: calc(50% - #{$header__logo-width--xl-lg} / 2);
      @media (min-width: $size__width--xl) {
        padding-right: 50px !important;
      }
      @media (max-width: $size__width--md - 1px) {
        float: none;
        width: 100%;
      }
    }

    &--right {
      float: right;
      width: calc(50% - #{$header__logo-width--xl-lg} / 2);
      @media (min-width: $size__width--xl) {
        padding-left: 50px !important;
      }
      @media (max-width: $size__width--md - 1px) {
        float: none;
        width: 100%;
      }
    }
  }
}

.nav {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;

  &__inner {
    position: relative;
    height: 100%;
    padding-top: $header__height--xl - $header__nav-height;
    @media (max-width: $size__width--lg - 1px) {
      padding-top: $header__height--md - $header__nav-height;

    }
    @media (max-width: $size__width--md - 1px) {
      padding-top: 0;
    }
  }

  &__item {
    display: inline-block;
    padding: 20px 30px 0 30px;
    height: $header__nav-height;
    @media (max-width: $size__width--lg) {
      padding: 30px 10px 0 10px;
    }
    @media (max-width: $size__width--md - 1px) {
      padding: 20px 10px 0 10px;
      display: block;
      background-color: #fff;
      border-top: 1px solid $color__accent--navy;
    }

    &:hover {
      border-bottom: 2px solid $color__accent--navy;
      cursor: pointer;
      @media (max-width: $size__width--md - 1px) {
        display: block;
        border-bottom: none;
        background-color: #ddd;
      }
    }

    & a {
      height: 100%;
      font-family: $text__family--times;
      font-size: 16px;
      color: $color__accent--navy;
      text-decoration: none;
      @media (max-width: $size__width--lg) {
        font-size: 14px;
      }
      @media (max-width: $size__width--md - 1px) {
        font-size: 24px;
      }

      &:hover {
        color: $color__accent--navy;
        text-decoration: none;
      }
    }
  }

  &--left {
    & .nav__inner {
      text-align: right;
      @media (max-width: $size__width--md - 1px) {
        text-align: center;
      }
    }
  }

  &--right {
    & .nav__inner {
      text-align: left;
      @media (max-width: $size__width--md - 1px) {
        text-align: center;
      }
    }
  }
}