<div class="header">
  <div class="header__inner container">
    <div class="header__logo">
      <a href="/">
        <%= image_tag 'logos/skinOn45.png' %>
      </a>
    </div>

    <div class="header__nav-wrapper">
      <ul class="header__nav header__nav--left nav nav--left">
        <div class="nav__inner">
          <li class="nav__item">
            <a>About us</a>
          </li>
          <li class="nav__item">
            <a>Treatments</a>
          </li>
        </div>
      </ul>

      <ul class="header__nav header__nav--right nav nav--right">
        <div class="nav__inner">
          <li class="nav__item">
            <a>Request a Consultation</a>
          </li>
          <li class="nav__item">
            <a>Contact us</a>
          </li>
        </div>
      </ul>
    </div>

    <button id="header__mobile-menu-toggle" type="button" class="header__mobile-menu-toggle">
      <!--<span class="glyphicon glyphicon-menu-hamburger"></span>-->
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
  </div>
</div>