<div class="container treatment hair-transplant">

  <div class="treatment__header">
    <h2 class="treatment__group">Hair Care</h2>
    <h1 class="treatment__title">Transplant</h1>
  </div>


  <div class="double-separator">
    <hr class="double-separator__thick-line"/>
    <hr class="double-separator__thin-line"/>
    <hr class="double-separator__vertical-line"/>
  </div>

  <div class="two-column">
    <!-- BEGIN left column -->
    <div class="two-column__left-column">
      <div style="padding: 15px">

        <p class="text--bold text--md text--justify-gt-xs">
          Inert some text summarising / introducing the treatment. Inert some text summarising / introducing the
          treatment. Inert some text summarising / introducing the treatment. Inert some text summarising / introducing
          the treatment.
        </p>

        <br/>

        <h4 class="text--gold text--cursive text--right">
          a question the patients may ask ?
        </h4>
        <p class="text--justify-gt-xs">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget feugiat nibh. Curabitur lacus purus,
          ultrices vel dolor nec, interdum mollis nisi. Duis auctor, odio ut rhoncus interdum, turpis diam dignissim
          dolor, ac viverra elit eros quis mauris. Quisque rhoncus sit amet turpis ac faucibus. Donec et velit id mi
          faucibus condimentum. Nam magna dolor, mattis varius mi id, consectetur ornare turpis. Vestibulum commodo
          mattis dignissim. Fusce fermentum vestibulum molestie. Suspendisse quis tristique ipsum. Donec rhoncus finibus
          libero, at malesuada quam maximus quis. Donec ligula nibh, aliquet ac metus nec, lobortis tincidunt magna. Ut
          ut turpis non odio convallis facilisis. In sollicitudin fermentum dui at accumsan.
        </p>
        <br/>
        <p class="text--justify-gt-xs">
          Maecenas tincidunt libero eu felis egestas bibendum. Pellentesque urna arcu, placerat ut ex vitae, suscipit
          rutrum urna. Vivamus blandit augue faucibus, tincidunt leo congue, euismod dolor. Nullam vel orci purus.
          Vestibulum orci odio, sollicitudin eu quam et, hendrerit ultrices quam. Nunc in nisi eget ante luctus viverra
          ut sodales orci. Phasellus quis placerat lacus.
        </p>

        <br/>

        <h4 class="text--gold text--cursive text--right">
          a question the patients may ask ?
        </h4>
        <p class="text--justify-gt-xs">
          Aliquam pulvinar enim id porta porttitor. Integer feugiat tortor ac malesuada aliquet. Pellentesque finibus
          leo ex, eu consequat justo volutpat sed. Vivamus accumsan, eros vitae maximus tincidunt, ligula odio rutrum
          lacus, vel mattis velit libero non diam. Ut at consequat diam. Integer odio libero, laoreet eget tristique
          nec, aliquet non diam. Phasellus rutrum ipsum lacus, at sollicitudin ligula condimentum ac. Cras vel velit
          magna. Mauris ac mi sed eros luctus suscipit quis sit amet felis. Praesent massa arcu, interdum bibendum
          fringilla consectetur, vestibulum non tortor. Ut non convallis leo, nec elementum nisl. Quisque odio lorem,
          mollis et ultricies sit amet, tempor et sem.
        </p>

      </div>
    </div>
    <!-- END left column-->

    <div class="two-column__vertical-line"></div>

    <!-- BEGIN right column -->
    <div class="two-column__right-column">
      <div style="padding: 15px">

        <div class="concerns">
          <h4 class="text--md">Hair transplants are suitable treatment for:</h4>
          <ul>
            <li class="">Some reason A</li>
            <li class="">Some reason B</li>
            <li class="">Some reason C</li>
            <li class="">Some reason D</li>
            <li class="">Some reason E</li>
          </ul>
        </div>

        <br/>

        <p class="text--justify-gt-xs">
          Book your <span class="text--clear text--bold">FREE Cosmetic Consultation</span> now to see if this
          treatment is the right choice for you!
        </p>

        <button class="button request-consultation-button">Request a Consultation</button>

        <br/>
        <br/>


        <div class="image image--height-400 image--width-full"
             style="background-image: url('https://via.placeholder.com/1000x1000')">
        </div>

        <div class="inlinefix">
          <div class="image image--height-200 image--width-half"
               style="background-image: url('https://via.placeholder.com/1000x1000')">
          </div>
          <div class="image image--height-200 image--width-half"
               style="background-image: url('https://via.placeholder.com/1000x1000')">
          </div>
        </div>

      </div>
    </div>
    <!-- END right column -->

    <div class="clearfix"></div>
  </div>

</div>
