<div class="container treatment filler">

  <div class="treatment__header">
    <h2 class="treatment__group">Appearance Medicine</h2>
    <h1 class="treatment__title">Dermal Fillers</h1>
  </div>


  <div class="double-separator">
    <hr class="double-separator__thick-line"/>
    <hr class="double-separator__thin-line"/>
    <hr class="double-separator__vertical-line"/>
  </div>

  <div class="two-column">
    <!-- BEGIN left column -->
    <div class="two-column__left-column">
      <div style="padding: 15px">

        <p class="text--bold text--md text--justify-gt-xs">
          Dermal fillers are smaller pockets of Hyaluronic Acid, a substance naturally obscuring in the body, that are
          gently injected under the skin.
        </p>

        <br/>

        <p class="text--justify-gt-xs">
          These are achieved by injecting a crystal-clear, non-animal, biodegradable gel-like filler, containing
          Hyaluronic Acid. This is a substance which occurs naturally in the body, is gentle to the skin, and actually
          helps to hydrate. Our clinic uses a new filler which contains anesthetic, to minimize discomfort, and results
          in very little downtime. The results are instantly visible, and can last 6-12 months.
        </p>

        <hr/>

        <div class="image image--height-400 image--width-full"
             style="background-image: url('https://via.placeholder.com/1000x1000')">
        </div>

      </div>
    </div>
    <!-- END left column-->

    <div class="two-column__vertical-line"></div>

    <!-- BEGIN right column -->
    <div class="two-column__right-column">
      <div style="padding: 15px">

        <div class="concerns">
          <h4 class="text--md">PRP is suitable treatment for:</h4>
          <ul>
            <li class="">Increasing lip volume</li>
            <li class="">Softening lip lines</li>
            <li class="">Facial sagging</li>
            <li class="">Redefining your chin</li>
            <li class="">Reducing hollows under your eyes</li>
          </ul>
        </div>

        <br/>

        <p class="text--justify-gt-xs">
          Book your <span class="text--clear text--bold">FREE Cosmetic Consultation</span> now to see if dermal fillers
          are right for you.
        </p>

        <button class="button request-consultation-button">Request a Consultation</button>

        <br/>

        <hr/>

        <div class="inlinefix">
          <div class="image image--height-200 image--width-half"
               style="background-image: url('https://via.placeholder.com/1000x1000')">
          </div>
          <div class="image image--height-200 image--width-half"
               style="background-image: url('https://via.placeholder.com/1000x1000')">
          </div>
        </div>

        <div class="inlinefix">
          <div class="image image--height-200 image--width-half"
               style="background-image: url('https://via.placeholder.com/1000x1000')">
          </div>
          <div class="image image--height-200 image--width-half"
               style="background-image: url('https://via.placeholder.com/1000x1000')">
          </div>
        </div>

      </div>
    </div>
    <!-- END right column -->

    <div class="clearfix"></div>
  </div>

</div>
