<div class="container treatment prp">

  <div class="treatment__header">
    <h2 class="treatment__group">Skin Care</h2>
    <h1 class="treatment__title"><span class="text--gold text--times">PRP ~</span>Platelet Rich Plasma</h1>
    <h2 class="treatment__subtitle text--gold text--cursive">& Vampire Facials</h2>
  </div>


  <div class="double-separator">
    <hr class="double-separator__thick-line"/>
    <hr class="double-separator__thin-line"/>
    <hr class="double-separator__vertical-line"/>
  </div>

  <div class="two-column">
    <!-- BEGIN left column -->
    <div class="two-column__left-column">
      <div style="padding: 15px">

        <p class="text--bold text--md text--justify-gt-xs">
          Platelet activation plays a key role in the process of wound and soft tissue healing. The use of platelet rich
          plasma (PRP) promotes healing of injured tendons, ligaments, muscles, and joins, can be applied to various
          musculoskeletal problems.
        </p>

        <br/>

        <h4 class="text--gold text--cursive text--right">
          what are PRP injections ?
        </h4>
        <p class="text--justify-gt-xs">
          It was used as early as the 1990s in maxillo-facial and plastic surgery. PRP injections are prepared from one
          to a few tubes of the patient’s own blood with strict aseptic technique. After being centrifuged, the
          activated platelets are injected into the abnormal tissue, releasing growth factors that recruit and increase
          the proliferation of reparative cells. Ultrasound imaging may or may not be used to guide the injection.
        </p>
        <br/>
        <p class="text--justify-gt-xs">
          Several clinical studies have demonstrated that PRP injections have improved
          function and decreased pain to various maladies, including - but not limited to - elbow, wrist, shoulder, hip,
          knee, and ankle tendonosis. Early work is also showing promise for osteoarthritis.
        </p>

        <br/>

        <h4 class="text--gold text--cursive text--right">
          are there any risks ?
        </h4>
        <p class="text--justify-gt-xs">
          The side effects of PRP injections are very limited as the patient is utilizing their own blood, which they
          should have no reaction to. Some relative rest is needed immediately following the procedure, then usually
          followed by a progressive stretching and strengthening program.
        </p>

        <hr/>

        <div class="inlinefix">
          <div class="image image--height-200 image--width-half"
               style="background-image: url('https://via.placeholder.com/1000x1000')">
          </div>
          <div class="image image--height-200 image--width-half"
               style="background-image: url('https://via.placeholder.com/1000x1000')">
          </div>
        </div>

        <div class="image image--height-400 image--width-full"
             style="background-image: url('https://via.placeholder.com/1000x1000')">
        </div>

      </div>
    </div>
    <!-- END left column-->

    <div class="two-column__vertical-line"></div>

    <!-- BEGIN right column -->
    <div class="two-column__right-column">
      <div style="padding: 15px">

        <div class="concerns">
          <h4 class="text--md">PRP is suitable treatment for:</h4>
          <ul>
            <li class="">Aiding the recovery process of sporting injuries</li>
            <li class="">Improving function and reducing pain in joints</li>
            <li class="">Decreasing pain to various maladies, i.e. tendonosis</li>
            <li class="">Potential treatment of osteoarthritis</li>
            <li class="">Tired and dry skin, laxity of skin, uneven pigmentation</li>
            <li class="">Signs of aging skin</li>
            <li class="">Overall texture and tone improvement</li>
            <li class="">Certain types of alopecia and general hair thinning</li>
            <li class="">People who may experience risk of allergic reactions from other treatments</li>
            <li class="">People looking for a natural treatment</li>
            <li class="">Large pores</li>
          </ul>
        </div>

        <br/>

        <h3 class="text--gold text--bold text--cursive">The Vampire Facial</h3>
        <p class="text--justify-gt-xs">
          Treatment of various skin issues with PRP has lead to it being referred to as <i>Vampire facials</i>, your
          own blood plasma containing high levels of platelets are injected in to the facial skin to regenerate and
          revitalize damaged skin, reduce fine lines and improve skin texture.
        </p>

        <br/>

        <p class="text--justify-gt-xs">
          Direct injections of PRP into the skin supports and helps accelerate the process of tissue regeneration,
          <ul>
            <li>Stimulating new collagen production</li>
            <li>Inducing mesenchymal stem cell division and differentiation</li>
            <li>Stimulating angiogenesis, the formation of new blood vesels</li>
          </ul>
        </p>

        <hr/>

        <p class="text--justify-gt-xs">
          Treatment takes about 1.5 hours, full face numbing cream and ice is applied to comfort.
        </p>

        <p class="text--justify-gt-xs">
          Book your <span class="text--clear text--bold">FREE Cosmetic Consultation</span> now to see if this
          treatment is the right choice for you!
        </p>

        <button class="button request-consultation-button">Request a Consultation</button>

        <br/>
        <br/>


        <div class="image image--height-400 image--width-full"
             style="background-image: url('https://via.placeholder.com/1000x1000')">
        </div>

      </div>
    </div>
    <!-- END right column -->

    <div class="clearfix"></div>
  </div>

</div>
