/**
 * Base module for global site variables, including but not limited to the colour palette
 */

// Colour palette
$color__primary--light: #fff !default;
$color__primary: #ccc !default;
$color__primary--dark: #888 !default;

$color__secondary: #333 !default;

$color__accent--navy: #000c3a !default;

// Global style vars