// Element module,
// Helper for position of elements on a page and base element styling e.g. buttons

/// Imports

@import "base";
@import "text";

// Constants

// Positioning modifiers

.elem--inline {
  display: inline;
}

.elem--right {
  float: right;
}

.elem--left {
  float: left;
}

.elem--navy-bg {
  background-color: $color__accent--navy;
}

.elem__hide {
  display: none;

  &--xl {
    @media (min-width: $size__width--xl) {
      display: none;
    }
  }

  &--lg {
    @media (min-width: $size__width--lg) and (max-width: $size__width--xl - 1px) {
      display: none;
    }
  }

  &--md {
    @media (min-width: $size__width--md) and (max-width: $size__width--lg - 1px) {
      display: none;
    }
  }

  &--sm {
    @media (min-width: $size__width--sm) and (max-width: $size__width--md - 1px) {
      display: none;
    }
  }

  &--xs {
    @media (max-width: $size__width--sm - 1px) {
      display: none;
    }
  }
}

// Button styling

.button {
  height: 40px;
  padding: 5px 15px;
  border: 1px solid $color__accent--gold;
  border-radius: 20px;
  outline: none;
  box-shadow: none;
  font-family: $text__family--clear;
  font-weight: 700;
  &:hover {
    background-color: $color__accent--gold;
    color: white;
    text-decoration: none;
  }
}