/**
 * Text module for base text styles and text mixins
 */
@import "base";

// Font families
$text__family--sans: 'Lato', 'Helvetica Neue', Sans-Serif;
$text__family--cursive: 'Bad Script', Cursive;
$text__family--times: 'Times New Roman', Georgia, Serif;
$text__family--clear: 'Montserrat', 'Helvetica Neue', Sans-Serif;

// Text elements
p, span {

}

// Headings
h1, h2, h3, h4, h5, h6 {
  color: $color__accent--navy;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

// Text modifiers
.text--sm {

}

.text--md {

}

.text--lg {

}

.text--muted {

}

.text--white {

}