/**
 * Text module for base text styles and text mixins
 */
@import "base";

// Font families
$text__family--sans: 'Lato', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
$text__family--cursive: 'Bad Script', Cursive;
$text__family--times: 'Quattrocento', 'Times New Roman', Georgia, Serif;
$text__family--clear: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;

// Text elements
p, span {
  font-family: $text__family--clear;
}

a {
  font-family: $text__family--times;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  font-family: $text__family--times !important;
  color: $color__accent--navy;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

// Text modifiers
.text--sm {
  font-size: 10px;
}

.text--md {
  font-size: 14px;
}

.text--lg {
  font-size: 18px;
}

.text--muted {

}

.text--white {

}

.text--sans {
  font-family: $text__family--sans;
}

.text--cursive {
  font-family: $text__family--cursive;
}

.text--times {
  font-family: $text__family--times;
}

.text--clear {
  font-family: $text__family--clear;
}