<div class="container about">

  <h1 class="text--center">About Skin on Forty Five</h1>

  <div class="double-separator">
    <hr class="double-separator__thick-line"/>
    <hr class="double-separator__thin-line"/>
    <hr class="double-separator__vertical-line"/>
  </div>

  <div class="two-column">
    <div class="two-column__left-column">
      <div class="about__left-text">
        <p class="text--center text--lg text--gold text--times">
          Skin on Forty Five is a skin, vein and cosmetic medicine clinic at the Oakura Medical Centre run by
          Dr Brent Anderson.
        </p>
        <br/>
        <h3>Where do we come from?</h3>
        <p class="text--justify-gt-xs">
          Dr Anderson himself has worked in this field of medicine for over 20 years, previously under Skin Care Taranaki
          which later became Skin Institute Taranaki. Due to the change in focus of the previous clinic, Dr Anderson has
          shifted back into the Oakura Medical Clinic facility, which currently employs an Appearance medicine nurse and
          beautician along side himself.
        </p>
        <br/>
        <h3>Where we are going</h3>
        <p class="text--justify-gt-xs">
          The clinic has planned building redevelopment late in 2017 to accommodate furthur facilities and hence offer a
          greater range of treatments and staff to accommodate exciting new developments in the field of skin care. We aim
          to provide the best up to date treatments for skin and a unique range of products to supplement our service.
        </p>
        <br/>
        <a href="<%= about_team_path %>" class="button"><i class="fa fa-user-o"></i> Meet the team</a>
        <a href="<%= contact_index_path %>" class="button"><i class="fa fa-map-o"></i> Locate us</a>
      </div>
    </div>

    <div class="two-column__vertical-line"></div>

    <div class="two-column__right-column">
      <div class="about__right-pictures">

        <div class="profile">
          <div class="profile__picture profile__picture--brent">

          </div>
          <div class="profile__information">
            <h3>Dr Brent Anderson</h3>
            <span class="text--times text--gold">MBCHM Otago 1980</span>
            <br/>
            <span class="text--times text--sm text--gold">Diploma Obstetrics / Gynecology 1986</span>
            <br/>
            <span class="text--times text--sm text--gold">Fellow of NZSCM (NZ Society of Cosmetic Medicine)</span>
            <br/>
            <span class="text--times text--sm text--gold">Certificate of Phlebology and member of the <i>Australasian College of Phlebology</i></span>
            <br/>
            <span class="text--times text--sm text--gold">Trained in Dermoscopy and skin cancer assessment and treatment</span>
          </div>
        </div>
        <div class="profile">
          <div class="profile__picture profile__picture--kara">

          </div>
          <div class="profile__information">
            <h3>Kara Wasley</h3>
            <span class="text--times text--gold">Registered Comprehensive Nurse</span>
            <br/>
            <span class="text--times text--sm text--gold">17 years nursing experience</span>
            <br/>
            <span class="text--times text--sm text--gold">Certificate of Aesthetic Nursing with Excellence</span>
          </div>
        </div>
        <div class="profile">
          <div class="profile__picture profile__picture--rose">

          </div>
          <div class="profile__information">
            <h3>Rose</h3>
            <i class="text--gold"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>

  <div class="double-separator">
    <hr class="double-separator__vertical-line double-separator__vertical-line--reversed"/>
    <hr class="double-separator__thin-line double-separator__thin-line--reversed"/>
  </div>

</div>
