<div class="container about">

  <h1 class="text--center">Meet the team at Skin on Forty Five</h1>

  <div class="double-separator">
    <hr class="double-separator__thick-line"/>
    <hr class="double-separator__thin-line"/>
  </div>

  <div class="team">
    <div class="team__top">

      <div class="profile">
        <div class="profile__information profile__information--left">
          <br/>
          <br/>
          <h2 class="text--right">Dr Brent Anderson</h2>
          <p class="text--right text--times text--gold"><i class="fa fa-graduation-cap"></i> MBCHM Otago 1980</p>
        </div>
        <div class="profile__picture profile__picture--center-lt-md profile__picture--brent"></div>
        <div class="profile__information profile__information--right">
          <br class="elem__hide--xs"/>
          <br class="elem__hide--xs"/>
          <span class="text--times text--sm text--gold">Diploma Obstetrics / Gynecology 1986</span>
          <br/>
          <span class="text--times text--sm text--gold">Fellow of NZSCM (NZ Society of Cosmetic Medicine)</span>
          <br/>
          <span class="text--times text--sm text--gold">Certificate of Phlebology and member of the <i>Australasian College of Phlebology</i></span>
          <br/>
          <span class="text--times text--sm text--gold">Trained in Dermoscopy and skin cancer assessment and treatment</span>
        </div>
        <div class="profile__story">
          <p class="text--justify-gt-xs">
            Dr Brent Anderson has worked extensively in many fields of medicine with vast experience in General
            Practice, Obstetrics, Emergency Medicine, Phlebology (veins), Vascular Ultrasonogrpahy, Cosmetic Medicine,
            Skin Cancer assessment and treatment including Dermoscopy. He has been working as an Cosmetic medicine
            doctor since 1996.
          </p>
          <p class="text--justify-gt-xs">
            Initially working for Skincare Taranaki later sold to Skin Institute Taranaki where he was also a director
            and shareholder from 2010 to 2017. Brent wishing to be more independent is now working alongside his
            cosmetic medicine nurse Kara, with a major focus on cosmetic medicine and other skin related treatments.
          </p>
          <p class="text--justify-gt-xs">
            He continues to provide assessment and treatment for varicose and spider veins alongside skin assessments
            for cancer and other non cancerous moles and lesions - offering a wide range of both surgical and non
            surgical treatments.
          </p>
        </div>
      </div>

    </div>

    <div class="double-separator">
      <hr class="double-separator__thin-line double-separator__thin-line--reversed"/>
      <hr class="double-separator__thick-line double-separator__thick-line--middle"/>
      <hr class="double-separator__thin-line"/>
      <hr class="double-separator__vertical-line"/>
    </div>

    <div class="two-column">
      <div class="two-column__left-column">
        <div class="team__left">

          <div class="profile">
            <div class="profile__picture profile__picture--kara"></div>
            <div class="profile__information profile__information--short">
              <h2>Kara Wasley</h2>
              <span class="text--times text--gold">Registered Comprehensive Nurse</span>
              <br/>
              <span class="text--times text--sm text--gold">17 years nursing experience</span>
              <br/>
              <span class="text--times text--sm text--gold">Certificate of Aesthetic Nursing with Excellence</span>
              <br/>
              <br/>
            </div>
            <div class="profile__story">
              <p class="text--justify-gt-xs">
                Kara is a New Zealand Registered Comprehensive Nurse with 17 years nursing experience. She started her
                career in Appearance medicine in 2011 and received her Aesthetic Nursing Certificate with Excellence.
              </p>
              <p class="text--justify-gt-xs">
                She offers a wide range of appearance medicine services and is qualified in Botulinum (BOTOX &copy;),
                Dermal
                Fillers, Lasers, Platelet Rich Plasma Transfer (Vampire facial), photodynamic therapy, Skincare and skin
                Rejuvenation, Superficial peels, Skin cancer and Skin conditions like Acne.
              </p>
              <p class="text--justify-gt-xs">
                Kara believes that looking good has an impact on your confidence and self-esteem. She will work with you
                to enhance what you have while achieving a natural healthy appearance and slowing down the aging of your
                skin.
              </p>
            </div>
          </div>

        </div>

      </div>

      <div class="two-column__vertical-line"></div>

      <div class="two-column__right-column">
        <div class="team__right">

          <div class="profile">
            <div class="profile__picture profile__picture--rose"></div>
            <div class="profile__information profile__information--short">
              <h2>Rose</h2>
              <br/>
              <br/>
            </div>
            <div class="profile__story">
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>

    <div class="double-separator">
      <hr class="double-separator__vertical-line double-separator__vertical-line--reversed"/>
      <hr class="double-separator__thin-line double-separator__thin-line--reversed"/>
    </div>

  </div>


</div>
