<div class="contact">

  <div class="container-fluid">

    <div class="contact__taranaki"></div>

  </div>


  <div class="container">

    <div class="double-separator">
      <hr class="double-separator__thick-line"/>
      <hr class="double-separator__thin-line"/>
      <hr class="double-separator__vertical-line"/>
    </div>

    <div class="two-column">
      <div class="two-column__left-column">
        <div class="contact-details">
          <h2 class="text--center text--bold">Contact us</h2>

          <i class="fa fa-2x fa-phone contact-details__emblem"></i>
          <span class="contact-details__item text--times">06 7521 245</span>
          <br/>
          <i class="fa fa-2x fa-envelope contact-details__emblem"></i>
          <span class="contact-details__item text--times">info@skinonfortyfive.co.nz</span>
          <br/>
          <i class="fa fa-2x fa-map-marker contact-details__emblem"></i>
          <span class="contact-details__item text--times">1147 Main South Road, Surf Highway 45, Oakura</span>
        </div>

      </div>

      <div class="two-column__vertical-line"></div>

      <div class="two-column__right-column">
        <div class="social-media-details">
          <br/>
          <hr class="elem__hide--md elem__hide--lg elem__hide--xl"/>
          <br/>
          <h4 class="text--cursive text--gold">~ Keep up to date with us on our social channels</h4>

          <br/>
          <a class="social-media social-media--facebook" href="https://www.facebook.com/skinon45/">
            <span class="fa fa-facebook"></span>
          </a>
          <a class="social-media social-media--instagram" href="">
            <span class="fa fa-instagram"></span>
          </a>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>

    <div class="double-separator">
      <hr class="double-separator__vertical-line double-separator__vertical-line--reversed"/>
      <hr class="double-separator__thin-line double-separator__thin-line--reversed"/>
      <hr class="double-separator__thick-line double-separator__thick-line--reversed"/>
    </div>

    <div class="map">
      <!-- Google Map -->
      <div id="googleMap" class="map__google-map"></div>
    </div>

    <div class="double-separator">
      <hr class="double-separator__thick-line"/>
      <hr class="double-separator__thin-line"/>
      <hr class="double-separator__vertical-line"/>
    </div>

    <div class="two-column">
      <div class="two-column__left-column">

        <div class="opening-hours">
          <div class="hours">
            <h2 class="text--center text--bold">Our Hours</h2>

            <span class="hours__day text--times">Monday</span><span class="hours__days-times text--times">9:00am - 5:00pm</span>
            <br/>
            <span class="hours__day text--times">Tuesday</span><span class="hours__days-times text--times">9:00am - 5:00pm</span>
            <br/>
            <span class="hours__day text--times">Wednesday</span><span class="hours__days-times text--times">9:00am - 5:00pm</span>
            <br/>
            <span class="hours__day text--times">Thursday</span><span class="hours__days-times text--times">9:00am - 5:00pm</span>
            <br/>
            <span class="hours__day text--times">Friday</span><span class="hours__days-times text--times">9:00am - 5:00pm</span>
            <br/>
            <span class="hours__day text--times">Saturday</span><span class="hours__days-times text--times">closed</span>
            <br/>
            <span class="hours__day text--times">Sunday</span><span class="hours__days-times text--times">closed</span>
            <br/>
            <br/>
          </div>

        </div>

      </div>

      <div class="two-column__vertical-line"></div>

      <div class="two-column__right-column">
        <div class="thank-you">
          <hr class="elem__hide--md elem__hide--lg elem__hide--xl"/>
          <br/>
          <br/>
          <p class="text--cursive text--md text--gold text--center">
            Thank you for taking the time to check us out,
            <br/>
            we hope to hear from you soon!
            <br/>
            <br/>
            <i class="fa fa-heart-o"></i>
          </p>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>

    <div class="double-separator">
      <hr class="double-separator__vertical-line double-separator__vertical-line--reversed"/>
      <hr class="double-separator__thin-line double-separator__thin-line--reversed"/>
    </div>

    <br/>

    <button class="button request-consultation-button">Request a Consultation</button>

  </div>

</div>