@import "modules/base";
@import "modules/text";

$section__taranaki--height: 400px;

$carousel__width--xl: 700px;
$carousel__height--xl: 500px;
$carousel__width--lg: 600px;
$carousel__height--lg: 500px;
$carousel__width--md: 500px;
$carousel__height--md: 400px;
$carousel__width--sm: 500px;
$carousel__height--sm: 400px;
$carousel__width--xs: 500px;
$carousel__height--xs: 400px;

$carousel__img-width--xl: 700px;

.section {

  &--taranaki {
    width: calc(100% + 30px);
    height: $section__taranaki--height;
    margin: 0 -15px 0px -15px;
    padding: 0 15px; // min 15px
    background-image: image_url('backgrounds/taranaki-coast.jpg');
    background-size: cover;
    background-position: 50% 80%;
    overflow-y: hidden;
  }

  &--welcome {
  }

  &--marketing {
  }
}

.welcome {
  &__greeting {
    font-size: 32px;
  }

  &__contact-us {
    padding-top: 20px;
    font-size: 22px;
    @media (min-width: $size__width--md) {
      float: right;
    }
  }

  &__contact-phone {
    font-size: 32px;
    font-weight: bold;
    padding-left: 10px;
  }

  &__address {
    font-size: 16px;
    font-weight: normal;
  }
}

.intro {
  width: 100%;
  padding: 30px 15px 30px 0;
  display: inline-block;

  & p {
    font-size: 18px;
    text-align: center;
  }
}

.treatments-carousel {
  width: 100%;
  height: $carousel__height--xl;
  @media (max-width: $size__width--xl - 1px) {
    height: $carousel__height--lg;
  }
  @media (max-width: $size__width--lg - 1px) {
    width: 100%;
    height: auto;
    border-left: none;
    margin-top: 15px;
  }
}

.social-media {
  display: inline-block;
  height: 60px;
  width: 60px;
  border: 1px solid $color__accent--gold;
  border-radius: 30px;
  padding-left: 16px;
  padding-top: 14px;
  margin: 0 5px;

  &:hover {
    text-decoration: none;
    border: 1px solid white;
    background-color: $color__accent--gold;

    & span {
      color: white;
    }
  }

  &:active, &:focus {
    text-decoration: none;
    border: 1px solid white;
    background-color: $color__accent--navy;

    & span {
      color: white;
    }
  }

  & span {
    display: inline;
    font-size: 30px;
    color: $color__accent--gold;
  }

  &--facebook {
    padding-left: 19px;
  }

  &--instagram {

  }
}

.news {
  padding-right: 15px;
  @media (max-width: $size__width--md - 1px) {
    padding-right: 0;
  }
  height: 100%;

  &__feed {
    overflow-y: scroll;
  }
}

.post {
  &__header {

  }
  &__timestamp {
    float: right;
    color: $color__primary--dark;
  }
}

.book-consult {
  padding-left: 15px;
  @media (max-width: $size__width--md - 1px) {
    padding-left: 0;
  }
}

.hours {
  padding-left: 15px;
  @media (max-width: $size__width--md - 1px) {
    padding-left: 0;
  }

  &__day {
    display: inline-block;
    width: 50%;
    text-align: right;
    padding-right: 30px;
    font-size: 18px;
    @media (max-width: $size__width--sm - 1px) {
      font-size: 14px;
    }
  }

  &__days-times {
    display: inline-block;
    width: 50%;
    padding-left: 15px;
    @media (max-width: $size__width--sm - 1px) {
      padding-left: 5px;
      font-size: 16px;
    }
  }
}

.map {
  &__google-map {
    height: 400px;
    width: 100%;
    border-top: solid 1px $color__accent--gold;
    border-bottom: solid 1px $color__accent--gold;
  }
}

.contact-details {
  padding-left: 15px;
  @media (max-width: $size__width--md - 1px) {
    padding-left: 0;
  }

  &__item {
    padding-left: 30px;
    @media (max-width: $size__width--sm - 1px) {
      padding-left: 5px;
    }
  }

  &__emblem {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid $color__accent--gold;
    text-align: center;
    padding-top: 6px;
    padding-left: 1px;
    font-size: 15px !important;
    color: $color__accent--gold;
    margin: 5px;
  }
}